{#
/**
 * @file
 * Default theme implementation of an empty search result.
 *
 * Available variables:
 * - message: The message to be displayed
 *
 * @see template_preprocess()
 *
 * @ingroup themeable
 */
#}
<div class="content-wrapper">
  <p class="overview-item-count">{{ message }}</p>
</div>
